input
   width: 100%
   border: 1px solid $white
   font-size: $body-text
   margin: 10px 0px
   padding: 10px
   background:  var(--block-color)
   color: var(--text-color)
   border-radius: $border-radius
   transition: $transition
input:focus  
   border: 1px solid var(--accent-color)
input[type=submit]
   width: 120px
   text-align: center
   cursor: pointer
input[type=checkbox]
   width: 120px
   text-align: center
   cursor: pointer
   border: 1px solid red
   background: red